/* 
 * Global 
 */

body.DTTT_Print .field_wrapper {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	-moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important; 
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

table td:hover { 
	cursor: pointer;  
}
table tr:hover:not(.ui-selected) td {
	background: rgba(255,255,0,0.2) !important;
}
table[data-mode="edit"] tr:hover:not(.ui-selected) td {
	background: rgba(0,255,0,0.2) !important;
}
table[data-mode="edit"] tr.ui-selected td {
	background: rgba(0,255,0,0.4) !important;
}
table[data-mode="delete"] tr:hover:not(.ui-selected) td {
	background: rgba(255,0,0,0.2) !important;
}
table[data-mode="delete"] tr.ui-selected td {
	background: rgba(255,0,0,0.4) !important;
}

table {
	opacity: 1.0 !important;
}

.dataTables_filter .table-mode-toggle {
	float: right;
}

.dataTables_filter > label {
	display: block;
}

table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
    position: relative;
    background-image: none !important;
	cursor: pointer;
}

table.dataTable thead th.sorting:before,
table.dataTable thead th.sorting_asc:before,
table.dataTable thead th.sorting_desc:before {
	color: #CCC;
    font-family: FontAwesome;
	content: "\f0dc";
	margin: 0 5px 0 0;
}

.dataTables_length  {
	margin: 10px 0 0 10px;
}

.dataTables_paginate {
	margin: 10px;
}

.dataTables_paginate a {
	display: inline-block !important;
	margin-left: 0 !important;
	margin-right: .3em !important;
	padding: 0px 5px !important;
}

body #content {
	max-width: 100%;
}

body table {
	table-layout: fixed;
}

body table tbody tr td {
	overflow: hidden;
	white-space: no-wrap;
}

body table tbody tr {
	height: 1em;
}

body.DTTT_Print {
	background: white !important;
	padding: 0px !important;
	margin: 0px !important;
	height: auto !important;
	overflow: visible !important;
	max-width: 100% !important;
}

body.DTTT_Print * {
	background: white !important;
	padding: 0px !important;
	margin: 0px !important;
	height: auto !important;
	overflow: visible !important;
	max-width: 100% !important;
}

body.DTTT_Print table {
	table-layout: auto;
}

body.DTTT_Print table th {
	min-width: 100px;
}


.ui-dialog button {
	width: auto;
}

#tabs {
	max-width: 800px;
	margin: 0 auto;
}
.ui-tabs 
.ui-tabs-panel {
	padding: 10px 0 !important;
}

.jumbotron {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.alert {
	max-width: 800px;
	margin: 10px auto;
	text-align: center;
}
.alert h3{
	margin: 0px;
}

.field_wrapper {
	background: white; 
	width: 100%; 
	border: 1px solid black; 
	padding: 10px; 
	margin: 20px auto;
}

.data-window {
	background: white;
	max-height: 400px;
	overflow: scroll;
	width: 100%;
	border: 1px solid black;
	margin: 0 auto 10px auto;
}

/* 
 * Upload 
 */

body.upload #table_select_field,
body.upload #upload-wrapper, 
body.upload #file-preview,
body.upload #database-insert-wrapper {
	padding: 0 10px;
	border-color: #dddddd;
	border-radius: 5px;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 15px 10px -10px rgba(34,25,25,0.4); 
	-webkit-box-shadow: 0 15px 10px -10px rgba(34,25,25,0.4);
}

body.upload #file_upload_form,
body.upload #database_insert_form {
	margin: 0px;
}

body.upload #loading-message {
	text-align: center; 
	height: 50px; 
	line-height:4em
}

/* Data Tables */
body .dataTables_filter {
	padding: 5px 10px;
	clear: both;
}
body .dataTables_filter input {
	padding: 2px 10px;
	margin: 0px 10px;
}
body .dataTables_filter .select-toggle:hover {
	color: blue;
	cursor: pointer;
}


/* 
 * Connect 
 */

body.connection .dataTables_wrapper {
	overflow: scroll;
	height: 300px;
}

.filter-coach,
.filter-counselor {
	display: none;
}

body.admin .filter-coach,
body.admin .filter-counselor {
	display: block;
}

body.captain .filter-coach,
body.captain .filter-counselor {
	display: block;
}

body.counselor .filter-coach {
	display: block;
}

/* Edit Form */
.edit-form .input-group {
	width: 100%;
}

.edit-form .input-group-addon {
	width: 80px;
	max-width: 80px;
	overflow: hidden;
}

.edit-form .input-group.id,
.edit-form .input-group.password,
.edit-form .input-group.pwReset,
.edit-form .input-group.admin,
.edit-form .input-group.contact,
.edit-form .input-group.createdTime,
.edit-form .input-group.userImg {
	display: none !important;
}



/* Hide Cols */
body.connection table .password,
body.connection table .pwReset,
body.connection table .admin,
body.connection table .contact,
body.connection table .createdTime,
body.connection table .userImg {
	display: none !important;
}

body.connection #user_select_field {
	padding: 0 10px;
	border-color: #dddddd;
	border-radius: 5px;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 15px 10px -10px rgba(34,25,25,0.4); 
	-webkit-box-shadow: 0 15px 10px -10px rgba(34,25,25,0.4);
}

body.connection #tabs .data-window {
	border: 0px;
}
body.connection #tabs table {
	border: 1px solid #aaa;
}


body.connection .ui-selecting td, 
body.connection .ui-selected td { 
	background: yellow !important; 
}

/* 
 * Export 
 */

body.export table .id {
	display: none !important;
}

body.export #data-picker-wrapper,
body.export #table-wrapper,
body.export #table-type-wrapper {
	overflow: hidden;
	padding: 0 10px;
	border-color: #dddddd;
	border-radius: 5px;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 15px 10px -10px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 15px 10px -10px rgba(34,25,25,0.4);
}

body.export #table-wrapper {
	padding: 10px;
}

body.export #data-picker-wrapper .input-group {
	float: left;
	width: 50%;
}

body.export table td.signature img {
	width: 100%;
	max-width: 300px;
}

/*
 * Reports
 */
body.reports .chartWrapper {
	width: 100%;
}

body.reports .chartWrapper h1 {
	text-align: center;
	font-size: 48px;
	color: #777;
}