body.connection .btn-selected-action {
	width: 150px;
}

body.connection label,
body.connection .badge {
	font-weight: 100;
	font-size: 12px;
}

/*
 * User Select
 */
#user_select_field {
	width: 500px;
	position: absolute;
	right: 0px;
	margin: 2px 5px 2px 0;
}
#user_select_field .input-group {
	margin: 0px !important;
}

#user_select_field .input-group .input-group-addon {
	border-radius: 5px 0 0 5px;
	padding: 5px !important;
}

#user_select_field .input-group .form-control {
	border-radius: 0 5px 5px 0;
	padding: 5px !important;
}

/*
 * TABS
 */

.ui-tabs 
.ui-tabs-panel {
	padding: 10px 0 !important;
}

body.connection .filter-tabs {
	margin: 0 10px;
}

body.connection .ui-tabs-anchor {
	font-size: 14px;
}

body.connection .filter-coach,
body.connection .filter-counselor {
	display: none;
}

body.connection.admin .filter-coach,
body.connection.admin .filter-counselor {
	display: block;
}

body.connection.captain .filter-coach,
body.connection.captain .filter-counselor {
	display: block;
}

body.connection.counselor .filter-coach {
	display: block;
}

/*
 * TABLE
 */

.btn-add,
.btn-remove {
	position: fixed;
	bottom: 25px;
	border-radius: 100px;
	width: auto;
}

/*
 * EDIT FORM
 */
.edit-form .input-group {
	width: 100%;
}

.edit-form .input-group-addon {
	width: 80px;
	max-width: 80px;
	overflow: hidden;
}

.edit-form .input-group.id,
.edit-form .input-group.password,
.edit-form .input-group.pwReset,
.edit-form .input-group.admin,
.edit-form .input-group.contact,
.edit-form .input-group.createdTime,
.edit-form .input-group.userImg {
	display: none !important;
}

body.connection #tabs .data-window {
	border: 0px;
}
body.connection #tabs table {
	border: 1px solid #aaa;
}


body.connection .ui-selecting td, 
body.connection .ui-selected td { 
	background: yellow !important; 
}